<section class="container centered">
  <div class="about">
    <!-- {{ if and (isset .Site.Params "avatarurl") (not (isset .Site.Params "gravatar")) }} -->
    <!-- {{ with .Site.Params.avatarurl }} -->
    <!-- <div class="avatar"><img src="{{ . | relURL }}" alt="avatar"></div> -->
    <!-- {{ end }} -->
    <!-- {{ end }} -->
    <!-- {{ with .Site.Params.gravatar }} -->
    <!-- <div class="avatar"><img src="https://www.gravatar.com/avatar/{{md5 .}}?s=240&d=mp" alt="gravatar"></div> -->
    <!-- {{ end }} -->
    {{ with .Site.Params.wgavatar }}
    <div>
      <a href="https://westgrid.ca/">
	<img src="{{ . | relURL }}" alt="wgavatar">
      </a>
    </div>
    <br>
    {{ end }}
    <h1>{{ .Site.Params.info }}</h1>
    <br>
    <br>
    <div id="frontdates">
      <div class="left"><a href="/hpc">Remote computing</a></div>
      <div class="right">April 20 & 27</div>
    </div>
    <div id="frontdates">
      <div class="left"><a href="/programming">Programming tools</a></div>
      <div class="right">May 4, 11 & 18</div>
    </div>
    <div id="frontdates">
      <div class="left"><a href="/parallel">Parallel coding</a></div>
      <div class="right">May 25 & June 8</div>
    </div>
    <div id="frontdates">
      <div class="left"><a href="/cloud">Compute Canada cloud</a></div>
      <div class="right">June 22 & 29</div>
    </div>
    <div id="frontdates">
      <div class="left"><a href="/ml">Deep learning with fastai</a></div>
      <div class="right">July 6</div>
    </div>
    <div id="frontdates">
      <div class="left"><a href="/scivis">3D scientific visualization</a></div>
      <div class="right">July 13</div>
    </div>
    <div id="frontdates">
      <div class="left"><a href="/matlab">Matlab</a></div>
      <div class="right">July 20</div>
    </div>
  </div>
</section>
